.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #d21d1d !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #211f1f !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: #ffffff !important;
}

.custom-bg-blog {
    background-color: firebrick;
    color: white;
}

.min-height-0 {
    min-height: 0px !important;
}


a.add-to-cart {
    width: 120px !important;
    padding: 10px !important;
    margin-bottom: 10px;
}


/*.alert.alert-danger , .alert.alert-success {*/
/*    position: relative;*/
/*    margin-top: -70px;*/
/*    top: 15px;*/
/*}*/


/*.alert .alert-danger, .alert .alert-success {*/
/*    position: absolute;*/
/*    top: 15px;*/
/*    width: 100%;*/
/*    text-align: center;*/
/*}*/




.custom-user-header {
    color: black !important;
}

span.custom-cart {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 15px;
    /* height: 0px !important; */
}

a.btn.btn-app {
    padding: 5px;
    height: auto;
    width: 100px;
    margin: 0px 50px 0px 0px;
}

span.badge.bg-red.cart-detail {
    font-size: 12px;
}

div.myButton input {
    background: url(https://www.sandbox.paypal.com/en_US/i/btn/btn_paynowCC_LG.gif) no-repeat;
    cursor: pointer;
    width: 200px;
    height: 100px;
    border: none;
}


a.btn.btn-app.bg-navy.custom-cart-btn {
    border: 0px solid;
}

/*.custom-alerts {*/
/*    z-index: 100000 !important;*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    text-align: center;*/
/*    padding: 5px 0px 5px 0px;*/
/*    margin: 10px 0px;*/
/*}*/

.select2-container {
    display: inline !important;
}


.widget-user-header.blog-box {
    cursor: pointer;
}

a.blog-href{
    color: white;
}

a.blog-href:hover {
    color: cyan;
}

.blog-img{
    height: 50vh;
    width: 100%;
    box-shadow: 0px 0px 8px -1px grey;
    border-radius: 10px;
}

.blog-img-cart{
    height: auto;
    width: 100%;
}


label.label.label-success.label-lg.addedLabel {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


label.label.label-success.viewDetail-keywords,
label.label.label-success.viewDetail-industries {
    background-color: #001f3f !important;
    font-size: 12px;
    font-weight: 400;
}
